.name h2,h3{
    color:whitesmoke;
    text-align: left;
}
h2{
    font-size: 45px;
}
.about-p{
    color:whitesmoke;
    text-align: left;
    font-size: 20px;
}


#about-section{
    display:flex;
    margin: 0 10%;
    align-items: center;
}

.name{
    margin: 15% 9%;
}
#myself{
    margin: 10% 5%;
    
}